.env
.env.*  # np. .env.local, .env.development


node_modules/


dist/
build/


.vscode/
.idea/


.DS_Store
Thumbs.db


npm-debug.log*
yarn-debug.log*
yarn-error.log*


*.swp
*.bak
*.tmp


*.tsbuildinfo

# 🪵 Logs
logs/
*.log
*.out


coverage/


*.sql
*.sqlite

#
.next/
